@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>
        В этом веб-приложении вы можете просматривать, добавлять и редактировать список клиентов ^.^
    </p>
    <p>
        Для этого перейдите в раздел 
        <a href="https://localhost:5001/Clients">Clients</a>
    </p>
</div>